:root {
    --border-color: rgb(177, 175, 175);
    --focus-color: rgb(92, 92, 92);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    padding: 20px;
    min-height: 50%;
}

section {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: gainsboro;
    padding: 10px;
    height: 500px;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

section h1 {
    font-size: 30px;
    padding: 30px;
}

section p {
    color: red;
}

input {
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 3px;
    outline: none;
    transition: 0.3s border;
}

input:focus {
    border: 1px solid var(--focus-color);
}

input:focus::placeholder {
    font-size: 15px;
    color: transparent;
}

button {
    width: 35%;
    height: 40px;
    transition: 0.3s border;
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 10px;
}

button:focus {
    border: 1px solid var(--focus-color);
    outline: none;
}

.disc {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.remember {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
}

#register {
    text-decoration: none;
    color: black;
}

#rememberAll {
    padding: 0;
    margin: 0;
    width: 20px;
}

@media screen and (width >= 1200px) {
    section {
        width: 500px;
        height: 700px;
    }
}