header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

header nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: black;
}