:root {
    --bg-light: rgb(224, 224, 224);
    --bg-dark: rgb(190, 190, 190);
}

main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: var(--bg-light);
    border-radius: 5px;
    padding-bottom: 30px;
    height: 100%;
}
section {
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    height: 36vh;
    padding: 10px;
    margin-top: 30px;
    border-radius: 15px;
}

@media screen and (width >= 1200px) {
    section {
        width: 40vw;
        height: 40vh;
    }
}